# Basic
numpy
ipython
jupyter
pandas
scipy
matplotlib
tqdm
pytest
virtualenv
mypy  # static type checker
pydot   # For tf.keras.utils.plot_model

# Image Processing
Pillow
scikit-image
scikit-learn
pyvips
PyWavelets

# ML Framework
torch==0.3.1
torchvision==0.2.1

# Automatic Python-C++ bindings
cppyy
