# Basic
setuptools
numpy
ipython
jupyter
pandas
scipy==1.4.1
matplotlib
tqdm
pytest
virtualenv
pydot   # For tf.keras.utils.plot_model
six     # For tf-nightly and tb-nightly
lxml    # For creating xml files

# Image Processing
Pillow
scikit-image
scikit-learn
pyvips
PyWavelets

# ML Framework
torch==0.3.1
torchvision==0.2.1
tensorflow
tensorboard
tensorboard_plugin_profile
tfds-nightly

# Automatic Python-C++ binding
cppyy
